body{
  background-color:aliceblue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
  padding:7px;
  cursor: pointer;
  background-color: olivedrab;
  box-shadow: 2px 2px gray;
  color:black;
  border:1px solid rgb(3, 3, 3);
  border-radius: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

li{
  list-style: none;
}